.winner-footer {
  bottom: 0vh;

  h1 {
    color: white;
    font-size: 5rem;

  }

  #play-again {
    color: black;
    font-size: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 5vw 17vw;
    margin-bottom: 10%;
    cursor: pointer;
    text-decoration: none;
  }
}